<ng-template #content let-modal>    
  <div class="modal-body">
      <strong>Product added to cart!</strong>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" routerLink="/" (click)="modal.close('Close click')">back to products</button>
      <button type="button" class="btn btn-secondary" routerLink="/cart" (click)="modal.close('Close click')">go to cart</button>
  </div>
</ng-template>

<div class="row product-details shadow">    
  <div class="col">    
      <img src="{{ product.image }}">        
  </div>

  <div class="col description">
      <div class="row">
          <h3>{{product.title}}</h3>
      </div>

      <div class="row" style="margin-top: 60px">
        <p>{{ product.description }}</p>   
      </div>

      <div class="row" style="margin-top: 30px">
          <div class="input-group">
              <button class="btn btn-outline-secondary btn-number" (click)="minusAmount()">-</button>
              <input type="text" class="quantity form-control input-number" value="1" [(ngModel)]="amount"/>
              <button class="btn btn-outline-secondary btn-number" (click)="addAmount()">+</button>                            
          </div>
      </div>   
      
      <div class="row" style="margin-top: 30px">        
        <button class="btn btn-secondary" (click)="addProductToCart(product, content)">
            <fa-icon [icon]="faCart"></fa-icon> add to cart
        </button>
      </div> 

  </div>     
</div>






